server.port=1234

stream.key=625kk64h8kah
stream.secret=mq8jju7u228m5k86gf2a8tb5jsz24rkqd9w2h7t952fxvzvw9k2a2abrxx5dhky2

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.springframework=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

spring.application.name=PDATE
spring.graphql.graphiql.enabled=true
spring.h2.console.enabled=true

cloudinary.cloud-name=djanqnhdm
cloudinary.api-key=378568549315436
cloudinary.api-secret=KmI4U3HSHPR8t1ntZfK1l8onbAY

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.datasource.url=jdbc:mysql://localhost:3306/basics?useSSL=false&allowPublicKeyRetrieval=true
spring.datasource.username=amila_one
spring.datasource.password=Amila_pw
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.sql.init.mode=always
spring.datasource.initialization-mode=always

dgs.graphql.graphiql.title="P-DATE"
spring.devtools.restart.enabled=true
jwt.secret=ABC


minio.url=http://localhost:9000
minio.access.name=93wdaAsdwHJSS1zR3UWq
minio.access.secret=6Pb9piQLLDdKkbgjuupHZSD8d1nGAS06bx8a3XFs
minio.bucket.name=pdate-profile-pic


